* {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}

button {
  font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden !important;
}


.App {
  position: relative;
  width: 100vw;
  height: 100vh;
}



ul {
  width: 100%;
  list-style: none;
  margin-left: -15px;

}

li {
  text-align: left;
  padding: 1rem 0;
  line-height: 3.15rem;
}


.btn {
  height: 3.25rem;
  width: 15rem;
  box-shadow: 1px 1px 25px 3px grey;
  cursor: pointer;
  font-weight: 800;
  margin: 2.25rem  auto;
  display: block;
}

.thanks {
  background: #662d91; /* Old browsers */
  background: -moz-linear-gradient(top, #662d91 1%, #2e3192 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #662d91 1%,#2e3192 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #662d91 1%,#2e3192 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#662d91', endColorstr='#2e3192',GradientType=0 ); /* IE6-9 */
  color: #fff;
}

.thanks:hover {
  background: #2e3192; /* Old browsers */
  background: -moz-linear-gradient(top, #2e3192 0%, #662d91 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2e3192 0%,#662d91 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2e3192 0%,#662d91 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3192', endColorstr='#662d91',GradientType=0 ); /* IE6-9 */
  text-shadow: -1px -1px 2px grey;
}



/*.holyWaterBottle {
  background: url('hw_bottle.png') no-repeat center center;
  height: 30rem;
  width: 100%;
  display: inline-block;
}
*/
